@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
.jumbotron {
  background-color: #02001c;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}

.navbar {
  background-color: #262244;
  margin-bottom: 0;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  color: white;
}

#r {
  background-color: #262244;
  font-family: "Architects Daughter", cursive !important;
  font-size: 10px;
}

img {
  align-items: center;
  justify-content: center;
}

.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #02001c !important;
  background-color: #fff !important;
}

#about,
#education,
#skills,
#experience,
#contact {
  text-align: center;
  background-color: #02001c;
  color: #fff;
  font-family: Montserrat, sans-serif;
  margin-top: -3em;
}

#skills {
  margin-top: -13em;
}

#sub-heading {
  color: white;
}

span.typed-text {
  font-weight: normal;
  color: #dd7732;
}

span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

h2 > small,
#heading,
h1 > small,
h4 > small {
  color: whitesmoke;
  font-family: "Architects Daughter", cursive;
}

#s {
  color: whitesmoke;
  font-family: "Architects Daughter", cursive;
  font-size: 20px;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.logo {
  font-size: 200px;
}

.glyphicon-globe {
  margin-top: 100px;
  font-size: 100px;
  position: absolute;
  color: lightgray;
}

.glyphicon-book {
  margin-top: 100px;
  font-size: 100px;
  position: absolute;
  color: lightgray;
}

footer {
  background-color: #02001c;
}

.glyphicon-chevron-up {
  color: #262244;
  font-size: 25px;
}

h3,
h1 {
  color: white;
}

#fname {
  font-family: "Sigmar One", cursive;
  font-size: 40px;
}

i {
  font-family: "Sigmar One", cursive;
  color: coral;
}

#captions {
  font-family: "Sigmar One", cursive;
  color: white;
}

.glyphicon-chevron-right,
.glyphicon-chevron-left {
  font-size: 25px;
}

.carousel-inner > .item > img {
  margin: auto;
}

#languages {
  margin: auto;
  height: 200px;
}

.bi-emoji-smile {
  font-size: 30px;
  color: black;
}

#g {
  font-size: 30px;
  color: white;
}

.bi-heart-fill {
  color: white;
}

.c {
  width: 100px;
  height: 100px;
}

.j {
  width: 150px;
  height: 125px;
}

.m {
  width: 175px;
  height: 100px;
}

.fa-html5,
.fa-css3-alt,
.fa-python,
.fa-bootstrap,
.fa-js-square,
.fa-react,
.fa-node {
  font-size: 100px;
  color: #ccc;
}

.fa-television,
.fa-user,
.fa-lightbulb,
.fa-map-marker,
.fa-phone,
.fa-envelope {
  color: #ccc;
  font-size: 40px;
}

.fa-envelope {
  color: #ccc;
  font-size: 60px;
}

.fa-circle {
  margin-top: 90px;
  color: #dd7732;
}

.fa-facebook,
.fa-github,
.fa-twitter,
.fa-linkedin-square,
.fa-instagram,
.fa-copyright {
  color: white;
  font-size: 30px;
}
